<!-- Footer Start -->
<div id='footer-container'>
    <hr>
    <h1 class='footer-contact-number'>CALL US NOW ON <span> 0720 6540 8495</span></h1>
    <div id='footer-info-box'>
        <section id='footer-logo-social-media-box'>
            <div id='footer-logo'>
                <img src='../Images/av-logo.png'>
                <h4>Alexia Audio Visual</h4>
                <p>
                    AAV is a full service audio visual integrator. Designing, 
                    integrating and supporting all aspects of audio visual technology.
                </p>
            </div>
            <div id='footer-social-media'>
                <a href='https://www.facebook.com'><i class="fab fa-facebook"></i></a>
                <a href='https://www.linkedin.com'><i class="fab fa-linkedin"></i></a>
                <a href='https://www.instagram.com'><i class="fab fa-instagram"></i></a>
            </div>
            <span>Alexia Audio Visual&#x2122 1998 &#x00AE</span>
        </section>
        <section id='page-links'>
            <h4>Links</h4>
            <ul>
                <li><a href='/home'>Home</a></li>
                <hr>
                <li><a href='/positions'>Careers</a></li>
                <hr>
                <li><a href='/showcase'>Showcase</a></li>
                <hr>
                <li><a href='/contact'>Contact</a></li>
                <hr>
            </ul>       
        </section>
        <section id='address'>
            <h4>Get in touch with us</h4>
            <ul>
                <li class='office-address'>Alexia London Office</li>
                <li>3rd Floor</li>
                <li>Epworth House</li>
                <li>City Road</li>
                <li>London</li>
                <li>EC1Y 1AA</li>
                <li>Tel: 0203 4111 630</li>
            </ul>   
        </section>
    </div>   
</div>


<!-- Footer End -->

<!-- IN ORDER OF - JQuery - PersonalJS - Popper.js - Bootstrap4 JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Personal JavaScript -->
<script src='js/AVFinal.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>