<!DOCTYPE html>
<html lang="en">
<head>
    <!-- REQ Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awesome - Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    
    <!-- Personal CSS -->
    <link rel='stylesheet' type="text/css" href="css/stylesheets/AVFinal.css" media="screen"/> 
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>Alexia AV</title>
</head>


<body>
    
<!-- Header Start -->
    
    <header id='header-cont'>
        <div id='header-name-logo'>
            <a href='/home'><img src="../Images/av-logo.png"></a>
            <h1 class='company-name'>Alexia</h1>
            <h3 class='company-name'>Audio Visual</h3>
        </div>
        <div id='header-links'>
            <ul>
                <li><a href='/home'>Home</a></li>
                <li><a href='/positions'>Positions</a></li>
                <li><a href='/showcase'>Showcase</a></li>
                <li><a href='/contact'>Contact</a></li>
            </ul>
        </div>
    </header>
   
    <span id='to-top'><a href='#' >Top Menu</a></span>
<!-- Header End   -->
