<%- include('partials/header.ejs') %>
    
<!-- Top Image Viewer Start -->
    
    <div id='top-view-container'>
        <div id='view-content-img-cont'>
            <img class='view-img' src='../Images/AVpics/Boardroom.jpg'>
        </div>
        <div class='view-text-box'>
            <h3 class='top-view-text'>Bespoke</h3>
            <h3 class='top-view-text'>Tailored</h3>
            <h3 class='top-view-text'>Solutions</h3>
        </div>    
    </div>
    
<!-- Breaker = A seperation between the image and follow up content  -->
    <div id='breaker'></div> 
    
<!-- Top Image Viewer End   -->
    
<!-- Main Page Wrapper Start 1 -->
    <div class='main-page-wrapper'>
   
<!-- About Us Start -->
    <div id='about-us-cont'>
        <img id='about-us-img' src='../Images/svg/033-heart.svg'>
        <div id='about-us-text-box'>
            <h3 class='about-us-text'>About Us</h3>
            <p class='about-us-text'>Alexia Audio Visual are a well-established audio visual company based in London and Dorset. Since 1986, we have delivered complete audio visual solutions, from installation through to maintenance, across the entire UK and parts of Europe.

            We believe that our reputation as a leading audio visual company has been built on our young, fresh and dynamic approach to audio visual. Working closely with like minded employees, our team continually try to improve ourselves and the business. We take pride in everything we undertake and that extends to each of our clients.</p>
        </div>
    </div>
    
<!-- About Us End -->

<!-- Main Page Wrapper End 1 -->
    </div>
<!-- Product Image Collage Start -->
    <div id='product-img-collage-cont'>
        <img class='product-sm' src='../Images/AVpics/projector.png'>
        <img class='product-sm' src='../Images/AVpics/screen2.png'>
        <img class='product-sm' src='../Images/AVpics/polycom2.png'>
        <img class='product-sm' src='../Images/AVpics/phoneextra.png'>
        <img class='product-lg' src='../Images/AVpics/TouchPanelBetter.png'>
    </div>
    
<!-- Product Image Collage End -->

<!-- Main Page Wrapper Start 2 -->
    <div class='main-page-wrapper'>

<!-- Company Pro's Highlight Start -->
    <h1 id='highlight-heading'>Why choose alexa Recruitment?</h1>
    <div id='company-highlight-cont'>
        <div class='highlight-item-cont'>
            <img class='highlight-item-imgs' src='../Images/svg/041-credit-card.svg'>
            <h4 class='highlight-item-head'>Affordable</h4>
            <p class='highlight-item-text'>From audio visual equipment supply to systems management, AAV understand the importance of price and budgets. We always offer our clients an unparalleled AV service at unbeatable prices; including prompt response, account management and open lines of communication.</p>
        </div>
        <div class='highlight-item-cont'>
            <img class='highlight-item-imgs' src='../Images/svg/032-flag.svg'>
            <h4 class='highlight-item-head'>Nation Wide</h4>
            <p class='highlight-item-text'>We are a specialist nationwide AV installation company. As part of our commitment to delivering excellent service, AAV’s expert AV maintenance teams are available 24/7. Although we operate across the UK and EU countries, we carry out a large number of London AV installations.</p>
        </div>
        <div class='highlight-item-cont'>
            <img class='highlight-item-imgs' src='../Images/svg/022-star.svg'>
            <h4 class='highlight-item-head'>Qualified Personel</h4>
            <p class='highlight-item-text'>Whether you’re just starting to plan a project and need an AV consultation, are looking to upgrade your current meeting room AV with the latest hardware, or need the full works plus an ongoing AV maintenance package, AAV can help at any stage.</p>
        </div>
    </div>
<hr>
<!-- Company Pro's Highlight End -->
        <!-- Brand Products Start -->
    <div id='product-brand-container'>
        <div id='brand-text-box'>
            <h3 class='brand-text-head'>We only use the most trusted & reliable brands</h3>
            <p class='brand-text-body'>From control to audio and display, we strive to use what we have come to trust as the best and most reliable products within the industry, setting us apart from our competition. These brands are professional and durable products which range from the sensory such as audio visual to the logical processes such as systems control and logic flow, such as Crestron Electronics, which has carved the path for technological innovation since 1971. We create automation solutions that transform the way people live their lives, making their day-to-day tasks easier and improving efficiency and productivity.</p>
        </div>    
        <div id='product-brand-img-box'>
            <img class='brands' src='../Images/crestron.png'>
            <img class='brands' src='../Images/jbl.png'>
            <img class='brands' src='../Images/kramer.png'>
            <img class='brands' src='../Images/microsoft.png'>
            <img class='brands' src='../Images/polycom.png'>
            <img class='brands' src='../Images/samsung.png'>
            <img class='brands' src='../Images/sony.png'>
        </div>
    </div>
    
<!-- Brand Products End -->
        
<!-- Main Page Wrapper End 2 -->
    </div>

<%- include('partials/footer.ejs') %>
        
