<%- include('partials/header.ejs') %>

<!-- Careers Box Start -->
<div class='main-page-wrapper'>
    <section id='install-jobs'>
            <img class='job-img-icon' src='../../Images/svg/007-push-pin.svg'>
            <div class='job-text-box'>
                <h3>Installation Engineers</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Reiciendis quae provident earum sed? Consequuntur maiores est eveniet 
                amet voluptatem, officiis qui et esse, ut voluptatibus dignissimos dolore 
                deleniti temporibus saepe ex, quia cum numquam culpa odio? Minus, laboriosam 
                alias libero voluptas reprehenderit, assumenda dolorem vero numquam et voluptatibus, 
                voluptates ducimus nulla? Possimus soluta ad, nam maiores laborum cum dolore voluptatibus 
                dolor laudantium quis ullam, rem omnis nulla nisi expedita atque blanditiis veniam eos 
                molestias iusto eaque. Quasi ipsum voluptatem sapiente dolorum laboriosam atque rem saepe 
                corporis ut omnis repellat quod doloremque, tempora fuga minus voluptas itaque voluptates 
                ad iure exercitationem.
                </p>
                <a href='/contact'>Enquire Here</a>
            </div>
        </section>
        <section id='comission-jobs'>
            <img class='job-img-icon' src='../../Images/svg/015-vision.svg'>
            <div class='job-text-box'>
                <h3>Comissioning Engineers</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Reiciendis quae provident earum sed? Consequuntur maiores est eveniet 
                amet voluptatem, officiis qui et esse, ut voluptatibus dignissimos dolore 
                deleniti temporibus saepe ex, quia cum numquam culpa odio? Minus, laboriosam 
                alias libero voluptas reprehenderit, assumenda dolorem vero numquam et voluptatibus, 
                voluptates ducimus nulla? Possimus soluta ad, nam maiores laborum cum dolore voluptatibus 
                dolor laudantium quis ullam, rem omnis nulla nisi expedita atque blanditiis veniam eos 
                molestias iusto eaque. Quasi ipsum voluptatem sapiente dolorum laboriosam atque rem saepe 
                corporis ut omnis repellat quod doloremque, tempora fuga minus voluptas itaque voluptates 
                ad iure exercitationem.
                </p>
                <a href='/contact'>Enquire Here</a>
            </div>
        </section>
        <section id='technician-jobs'>
            <img class='job-img-icon' src='../../Images/svg/024-qr-code.svg'>
            <div class='job-text-box'>
                <h3>AMX/Crestron Programmers</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Reiciendis quae provident earum sed? Consequuntur maiores est eveniet 
                amet voluptatem, officiis qui et esse, ut voluptatibus dignissimos dolore 
                deleniti temporibus saepe ex, quia cum numquam culpa odio? Minus, laboriosam 
                alias libero voluptas reprehenderit, assumenda dolorem vero numquam et voluptatibus, 
                voluptates ducimus nulla? Possimus soluta ad, nam maiores laborum cum dolore voluptatibus 
                dolor laudantium quis ullam, rem omnis nulla nisi expedita atque blanditiis veniam eos 
                molestias iusto eaque. Quasi ipsum voluptatem sapiente dolorum laboriosam atque rem saepe 
                corporis ut omnis repellat quod doloremque, tempora fuga minus voluptas itaque voluptates 
                ad iure exercitationem.
                </p>
                <a href='/contact'>Enquire Here</a>
            </div>
        </section>
        <section id='admin-jobs'>
            <img class='job-img-icon' src='../../Images/svg/001-headphone.svg'>
            <div class='job-text-box'>    
                <h3>Events Engineers</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Reiciendis quae provident earum sed? Consequuntur maiores est eveniet 
                amet voluptatem, officiis qui et esse, ut voluptatibus dignissimos dolore 
                deleniti temporibus saepe ex, quia cum numquam culpa odio? Minus, laboriosam 
                alias libero voluptas reprehenderit, assumenda dolorem vero numquam et voluptatibus, 
                voluptates ducimus nulla? Possimus soluta ad, nam maiores laborum cum dolore voluptatibus 
                dolor laudantium quis ullam, rem omnis nulla nisi expedita atque blanditiis veniam eos 
                molestias iusto eaque. Quasi ipsum voluptatem sapiente dolorum laboriosam atque rem saepe 
                corporis ut omnis repellat quod doloremque, tempora fuga minus voluptas itaque voluptates 
                ad iure exercitationem.
                </p>
                <a href='/contact'>Enquire Here</a>
            </div>
        </section>
    </div>
<!-- Careers Box End -->

<%- include('partials/footer.ejs') %>